*{
    margin : 0;
    padding : 0;
    outline: 0;
}

/* -------------MOBILE */
@media screen and (min-width: 150px) and (max-width:599px){
    nav{
        display: none;
    }
    #social-bar{
        display: block;
        position: static;
        right: 0;
        bottom: 0vh;
        background-color: rgba(80, 55, 55, 0.5);
        text-align: center;
        margin: 0;
    }
    #social-bar ul li{
        display: inline;
    }
    #social-bar ul{
        margin: 2px;
    }
    .social{
        border-radius: 40%;
        height: 25px;
        width: 25px;
    }
    #wrapper3{
        margin: 3vh auto;
        text-align: right;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 40px;
        padding: 20px;
        max-width: 450px;
        box-shadow: 2px 2px 2px #FFFFFF;
    }
    #wrapper2{
        display: flex;
        flex-direction: column; 
    }
    #my-photo{
        border-radius: 90px;
        margin: auto;
        min-height: 300px;
        max-height: 60vh;
        box-shadow: 10px 10px 40px #685d5d;
        margin-bottom: 10px;
    }
    #btn-hire-me:active{
        transform: translate(5px, 3px);
        transition: ease-in-out;
    }
    #btn-hire-me{
        margin: auto;
        margin-bottom: 12px;
        outline: 0;
        display: block;
        height: 6vh;
        padding: 0 5px;
        background-color: #272424;
        color: #FFFFFF;
        font-size: 18px;
        border-radius: 30px;
        box-shadow: 10px 10px 40px #272424;
        border: 0;
        font-weight: 700;
    }
    html{
        background: url("background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    ul{
        list-style: none;
        color: #FFFFFF;
        font-weight: bold;
        margin: 10px 10px;
    }
    nav ul li{
        display: inline;
        margin: 0 8px;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 7px;
        background-color: #f37b6b;
        border-radius: 25px;
        box-shadow: 0px 2px 70px #c62f2f;
    }
    .stand-out{
        color:#FFFFFF;
        text-shadow: 1px 1px #272424;
        font-size: 55px;
        cursor: default;
    }
    .head-text{
        color:#FFFFFF;
        font-size:x-large;
        font-style: italic;
        cursor: default;
        text-shadow: 1px 1px #272424;
    }
}

/*-------------phablet------------------*/
@media screen and (min-width: 600px) and (max-width:817px){
    nav{
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 0 0 40px 0;
        display: inline-block;
    }
    #social-bar{
        display: block;
        position: fixed;
        right: 0;
        top:30vh;
        background-color: rgba(80, 55, 55, 0.5);
        text-align: center;
        border-radius: 100px 0 0 100px;
    }
    #social-bar ul li{
        display: inline;
        margin: 8px 2px;
    }
    #social-bar ul{
        margin: 2px;
        display: flex;
        flex-direction: column;
    }
    .social{
        border-radius: 40%;
        height: 30px;
        width: 30px;
    }
    #wrapper3{
        margin: 3vh auto;
        text-align: right;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 40px;
        padding: 20px;
        max-width: 450px;
        box-shadow: 2px 2px 2px #FFFFFF;
    }
    #wrapper2{
        display: flex;
        flex-direction: row; 
    }
    #my-photo{
        border-radius: 90px;
        margin: auto;
        min-height: 300px;
        max-height: 60vh;
        box-shadow: 10px 10px 40px #685d5d;
    }
    #btn-hire-me:active{
        transform: translate(5px, 3px);
        transition: ease-in-out;
    }
    #btn-hire-me{
        margin: auto;
        outline: 0;
        display: block;
        height: 10vh;
        padding: 0 5px;
        background-color: #272424;
        color: #FFFFFF;
        font-size: 23px;
        border-radius: 30px;
        box-shadow: 10px 10px 40px #272424;
        border: 0;
        font-weight: 700;
    }
    html{
        background: url("background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    ul{
        list-style: none;
        color: #FFFFFF;
        font-weight: bold;
        margin: 10px 10px;
    }
    nav ul li{
        display: inline;
        margin: 0 8px;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 7px;
        background-color: #f37b6b;
        border-radius: 25px;
        box-shadow: 0px 2px 70px #c62f2f;
    }
    .stand-out{
        color:#FFFFFF;
        text-shadow: 1px 1px #272424;
        font-size: 55px;
        cursor: default;
    }
    .head-text{
        color:#FFFFFF;
        font-size:x-large;
        font-style: italic;
        cursor: default;
        text-shadow: 1px 1px #272424;
    }
}

/*-------------------TABLETS-----------------------*/
@media screen and (min-width: 818px) and (max-width:1099px){
    nav{
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 0 0 40px 0;
        display: inline-block;
    }
    #social-bar{
        display: block;
        float: right;
        position: absolute;
        right: 0;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 0 0 0 40px ;
        top: 0;
    }
    #social-bar ul li{
        display: inline;
        margin: 0 5px;
    }
    .social{
        border-radius: 40%;
        height: 25px;
        width: 25px;
    }
    #wrapper3{
        float: left;
        position: absolute;
        top: 45vh;
        left: 5vw;
        margin: 0;
        text-align: right;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 40px;
        padding: 20px;
        width: 400px;
        box-shadow: 2px 2px 2px #FFFFFF;
    }
    #wrapper2{
        position: absolute;
        top: 20vh;
        right: 5%;
        text-align: center;
    }
    #my-photo{
        border-radius: 90px;
        min-height: 300px;
        max-height: 60vh;
        box-shadow: 10px 10px 40px #685d5d;
        margin: auto;
    }
    #my-photo:hover{
        transform: scale(1.09);
        transition: ease-in-out;
        transition-duration: 100ms;
        
    }
    #btn-hire-me:active{
        transform: translate(5px, 3px);
        transition: ease-in-out;
    }
    #btn-hire-me{
        outline: 0;
        display: block;
        padding: 6px 20px;
        margin: 24px auto;
        background-color: #272424;
        color: #FFFFFF;
        font-size: 23px;
        border-radius: 30px;
        box-shadow: 10px 10px 40px #272424;
        border: 0;
        font-weight: 700;
    }
    html{
        background: url("background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    #social-bar ul{
        margin: 8px;
        margin-right: 30px;
    }
    ul{
        list-style: none;
        color: #FFFFFF;
        font-weight: bold;
        margin: 10px 20px;
    }
    nav ul li{
        display: inline;
        margin: 0 8px;
        font-size: 18px;
        letter-spacing: 2px;
        padding: 7px;
        background-color: #f37b6b;
        border-radius: 25px;
        box-shadow: 0px 2px 70px #c62f2f;
    }
    .stand-out{
        color:#FFFFFF;
        text-shadow: 1px 1px #272424;
        font-size: 55px;
        cursor: default;
    }
    .head-text{
        color:#FFFFFF;
        font-size:x-large;
        font-style: italic;
        cursor: default;
        text-shadow: 1px 1px #272424;
    }
}
/*-------------------DESKTOP-------------*/
@media screen and (min-width: 1100px){
    nav{
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 0 0 40px 0;
        display: inline-block;
    }
    #social-bar{
        display: block;
        float: right;
        position: absolute;
        right: 0;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 0 0 0 40px ;
        top: 0;
    }
    #social-bar ul li{
        display: inline;
        margin: 0 10px;
        font-size: 30px;
    }
    #social-bar ul li img:hover{
        transform: scale(1.7);
        transition-duration: 100ms;
        transition: ease-in-out;
    }
    .social{
        border-radius: 40%;
        height: 30px;
        width: 30px;
    }
    #wrapper3{
        float: left;
        position: absolute;
        top: 50vh;
        left: 15vw;
        margin: 0;
        text-align: right;
        background-color: rgba(80, 55, 55, 0.5);
        border-radius: 40px;
        padding: 20px;
        width: 400px;
        box-shadow: 2px 2px 2px #FFFFFF;
    }
    #wrapper2{
        position: absolute;
        top: 20vh;
        right: 10%;
        text-align: center;
    }
    #my-photo{
        border-radius: 90px;
        min-height: 390px;
        max-height: 60vh;
        box-shadow: 10px 10px 40px #685d5d;
        margin: auto;
    }
    #my-photo:hover{
        transform: scale(1.09);
        transition: ease-in-out;
        transition-duration: 100ms;
        
    }
    #btn-hire-me:hover{
        transform: scale(1.1);
        transition: ease-in-out;
        transition-duration: 100ms;
    }
    #btn-hire-me:active{
        transform: translate(5px, 3px);
        transition: ease-in-out;
    }
    #btn-hire-me{
        outline: 0;
        display: block;
        padding: 6px 20px;
        margin: 24px auto;
        background-color: #272424;
        color: #FFFFFF;
        font-size: 27px;
        border-radius: 30px;
        box-shadow: 10px 10px 40px #272424;
        border: 0;
        font-weight: 700;
    }
    html{
        background: url("background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    #social-bar ul{
        margin: 8px;
        margin-right: 30px;
    }
    ul{
        list-style: none;
        color: #FFFFFF;
        font-weight: bold;
        margin: 12px 30px;
    }
    nav ul li{
        display: inline;
        margin: 0 8px;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 7px;
        background-color: #f37b6b;
        border-radius: 25px;
        box-shadow: 0px 2px 70px #c62f2f;
        outline: 0;
    }
    nav ul li:hover{
        box-shadow: 0px 2px 5px  #f37b6b;
        background-color: #e66060c4;
    }
    .stand-out{
        color:#FFFFFF;
        text-shadow: 1px 1px #272424;
        font-size: 65px;
        cursor: default;
    }
    .head-text{
        color:#FFFFFF;
        font-size:x-large;
        font-style: italic;
        cursor: default;
        text-shadow: 1px 1px #272424;
    }
}